h1 {
    color:midnightblue;
}

img {
    width: 400px;
}

#thirdDiv {
    background-color:crimson;
    width: 900px;
    height: 500px;
    padding: 50px;
    border: 10px solid green;
}

#spanId {
    display: block;
    font-size: 18px;
    margin: 50px;
}

a {
    margin: 50px;
}


